.main {
  min-height: 100vh;
  
  .textCenter{
    position: relative;
    height: 500px;
    width: 100%;
    
        .arrowLeft,
        .arrowRight{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            // width: 100px;
            // height: 100px;
            i{
                font-size: 100px;
                color: #FFFFFF;
            }
        }
        .arrowLeft{
            left: 0;
        }
        .arrowRight{
            right: 0;
        }   
    }

  .category{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    background-color: #f4f4f4;
    .w1200{
        display: flex;
        justify-content: space-between;
    }
  }

  .about{
    display: flex;
    justify-content: center;
    width: 100%;
    overflow: hidden;
    padding: 40px 0px;
    background: url(../public/about.jpg) repeat-x;
    background-size: cover;
    background-attachment: fixed;
    background-position: 0 0%;
    .aboutLeft{
        width: 60%;
        h4{
            font-size: 25px;
            color: #FFFFFF;
            font-weight: normal;
        }
        p{
            margin: 25px 0px 30px 0px;
            font-family: "宋体";
            font-size: 16px;
            color: #FFFFFF;
            line-height: 27px;
            display: -webkit-box;
            -webkit-box-orient: block-axis;
            -webkit-line-clamp: 6;
            overflow: hidden;
        }
        .aboutBtn{
            display: inline-block;
            font-size: 15px;
            font-family: "宋体";
            padding: 6px 8px;
            border: 1px solid #FFFFFF;
            color: #FFFFFF;
            border-radius: 5px;
            background: transparent;
        }
    }
  }

  .cim{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px 0;
    background-color: #f4f4f4;
    .w1200{
        display: flex;
        justify-content: space-between;
    }
  }

  .guestbook{
    display: flex;
    justify-content: center;
    padding: 40px 0;
    background: #0067be;
    h4 {
        color: #ffffff;
        text-align: center;
        font-size: 25px;
        font-weight: 200;
        margin-bottom: 30px;
    }
    .guestbookLeft{
        width: 30%;
        color: #ffffff;
        padding-right: 9%;
        padding-left: 1%;
        h5{
            font-weight: 200;
            font-size: 20px;
            margin-bottom: 10px;
        }
        p{
            margin-bottom: 10px;
            line-height: 22px;
            font-size: 13px;
        }
    }
  }

  .w1200{
    width: var(--max-width)
  }
}

